<a href="https://colab.research.google.com/github/Ale-Litz/Data-Visualization/blob/main/API_Twith.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installation and Setup API Twith

In [ ]:
#pip install igdb-api-v4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting igdb-api-v4
  Downloading igdb_api_v4-0.1.0-py3-none-any.whl (28 kB)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from igdb-api-v4) (3.19.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from igdb-api-v4) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->igdb-api-v4) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->igdb-api-v4) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->igdb-api-v4) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->igdb-api-v4) (2022.9.24)
Installing collected packages: igdb-api-v4
Successfully installed igdb-api-v4-0.1.0

In [ ]:
from igdb.wrapper import IGDBWrapper
import pandas as pd
import json

df = {'id':[],'name':[]}

wrapper = IGDBWrapper("YOUR_CLIENT_ID", "YOUR_APP_ACCESS_TOKEN") # COLOCAR CLIENT_ID E TOKEN

In [ ]:
#game_id = 1
#game_id = str(game_id)

#byte_array = wrapper.api_request('games', 'fields id, name; offset 0; where id = '+game_id+';')
#data = json.loads(byte_array.decode('utf-8'))
#df_aux = pd.DataFrame.from_dict(data)

In [ ]:
#df = dict(df)
#df['id'].append(df_aux['id'][0])
#df['name'].append(df_aux['name'][0])

In [ ]:
#print(df)

In [ ]:
for i in range(1,10):
  game_id = i
  game_id = str(game_id)

  byte_array = wrapper.api_request('games', 'fields id, name; offset 0; where id = '+game_id+';')
  data = json.loads(byte_array.decode('utf-8'))
  df_aux = pd.DataFrame.from_dict(data)

  df['id'].append(df_aux['id'][0])
  df['name'].append(df_aux['name'][0])

print(df)

{'id': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'name': ['Thief II: The Metal Age', 'Thief: The Dark Project', 'Thief: Deadly Shadows', 'Thief', "Baldur's Gate", "Baldur's Gate II: Shadows of Amn", 'Jagged Alliance', 'Jagged Alliance: Deadly Games', 'Jagged Alliance 2']}

In [ ]:
#df = pd.DataFrame(df)
#df.style

In [ ]:
from igdb.wrapper import IGDBWrapper
import pandas as pd
import json

wrapper = IGDBWrapper("YOUR_CLIENT_ID", "YOUR_APP_ACCESS_TOKEN") # COLOCAR CLIENT_ID E TOKEN

df = {'id':[],'name':[]}

for i in range(1,21):
  game_id = i
  game_id = str(game_id)

  byte_array = wrapper.api_request('games', 'fields id, name; offset 0; where id = '+game_id+';')
  data = json.loads(byte_array.decode('utf-8'))
  df_aux = pd.DataFrame.from_dict(data)

  df['id'].append(df_aux['id'][0])
  df['name'].append(df_aux['name'][0])

df = pd.DataFrame(df)
df.style